---
import BaseLayout from '../layouts/BaseLayout.astro'
import BentoGrid  from '../components/BentoGrid.astro'
import Card       from '../components/Card.astro'
import '../styles/global.css'

const pageTitle = "Euan Pike"
---

<BaseLayout pageTitle={pageTitle}>
  <BentoGrid>
      <Card colSpan="md:col-span-3" rowSpan="md:row-span-1" class="p-8 justify-between">
        <h1 class="font-mono text-4xl font-bold text-white tracking-tighter">
          Hello, I'm Euan.
        </h1>
        <p class="font-sans text-neutral-400 max-w-md mt-4">
          Embedded Software Engineer.
        </p>
      </Card>
    </BentoGrid>
</BaseLayout>